<!DOCTYPE html>
<html>
<head>
  <title>Ch01</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">
    <canvas id="game" width="580" height="480"></canvas>
  </div>
	<%= yield %>

</body>
</html>
